<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Job Experience</title>
</head>
<body>
    <h1>Add Job Experience</h1>
    <form method="POST" action="/submitJob">
        <p>Enter Company:</p>
        <input class="input-field" type="text" name="company" value="<%= data.company %>">

        <p>Enter Start Date</p>
        <input class="input-field" type="date" name="startDate" value="<%= data.startDate %>">

        <p>Enter End Date</p>
        <input class="input-field" type="date" name="endDate" value="<%= data.endDate %>">

        <p>Enter Position:</p>
        <input class="input-field" type="text" name="position" value="<%= data.position %>">

        <p>Experience Developed:</p>
        <textarea class="input-field" name="skills"><%= data.skills %></textarea>

        <button class="submit-button" type="submit">Submit</button>

        <% if (errors) { %>
            <% errors.forEach((error) => { %>
                <p class="errors"><%= error %></p>
            <% }); %>
        <% } %>
    </form>
</body>
</html>
