<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Project Experience</title>
    <link rel="stylesheet" href="/public/styles/home.css">
    <script src="public/scripts/addSkills.js" defer></script>
</head>
<body>
    <div class="container">
        <h1 class="page-title">Add Project Experience</h1>
        <form method="POST" action="/submitProject">
            <div class="post-entry">
                <label for="project" class="post-title">Enter Project Name:</label>
                <input id="project" class="input-field" type="text" name="project" value="<%= data.project %>">
            </div>

            <div class="post-entry">
                <label for="startDate" class="post-title">Start Date:</label>
                <input id="startDate" class="input-field" type="date" name="startDate" value="<%= data.startDate %>">
            </div>

            <div class="post-entry">
                <label for="endDate" class="post-title">End Date:</label>
                <input id="endDate" class="input-field" type="date" name="endDate" value="<%= data.endDate %>">
            </div>

            <div class="post-entry">
                <label for="skills" class="post-title">Enter Skills Acquired:</label>
                <div id="skill-container">
                    <input id="skills" class="input-field" type="text" name="skills" value="<%= data.skills %>">
                </div>
                <button type="button" id="add-skill-button" class="link-button skill-button">Add Another Skill</button>
            </div>

            <div class="post-entry">
                <label for="desc" class="post-title">Project Description:</label>
                <textarea id="desc" class="input-field" name="desc"><%= data.desc %></textarea>
            </div>

            <button class="submit-button skill-button" type="submit">Submit</button>

            <% if (errors) { %>
                <div class="errors">
                    <% errors.forEach((error) => { %>
                        <p class="error"><%= error %></p>
                    <% }); %>
                </div>
            <% } %>
        </form>
        <a class="link-button" href="/">Home Page</a>
    </div>
</body>
</html>
