<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
    <h1>Add Project Experience</h1>
<form method="POST" action="/submitProject">
    <p>Enter Project Name:</p>
    <input class="input-field" type="text" name="project" value="<%= data.project %>">
    
    <p>Start Date:</p>
    <input class="input-field" type="date" name="startDate" value="<%= data.startDate %>">

    <p>End Date:</p>
    <input class="input-field" type="date" name="endDate" value="<%= data.endDate %>">

    <p>Enter Skills Acquired:</p>
    <input class="input-field" type="text" name="skills" value="<%= data.skills %>">

    <p>Project Description:</p>
    <textarea class="input-field" name="desc"><%= data.desc %></textarea>

    <button class="submit-button" type="submit">Submit</button>
    <% if (errors) { %>
        <% errors.forEach((error) => { %>
            <p class="errors"><%= error %></p>
        <% }); %>
    <% } %>
</form>

</body>
</html>